<!DOCTYPE html>

<html lang="{{ site.lang }}" class="c-font-size">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} &#8211; {{ site.title }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="/css/style.css" rel="stylesheet">
        {% endif %}

        <link rel="preload" as="font" type="font/woff2" href="/fonts/source-sans-pro-v11-latin-regular.woff2">
        <link rel="preload" as="font" type="font/woff2" href="/fonts/source-sans-pro-v11-latin-italic.woff2">
        <link rel="preload" as="font" type="font/woff2" href="/fonts/source-sans-pro-v11-latin-900.woff2">

    </head>

    <body class="ma0 pa0 bg-light-gray dark-gray c-sans-serif c-lh-copy">

        <div class="clip"><a href="#content">Skip to content</a></div>

        <header class="c-bg-purple white pa2 ph4-ns">

            <div class="c-wrapper center">

                <h1 class="ma0 f5 lh-title"><a href="/" class="white no-underline"><span class="c-green">Suffolk</span> <span class="white fw5">Libraries</span></a></h1>

            </div>

        </header>

        <main id="content" class="pv2 pa4-l">

            <div class="c-wrapper center">
