@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class in this file

// Sans-serif stack
.c-sans-serif {
    font-family: $c-sans-serif;
}


// line-heights
.c-lh-copy {
    line-height: $c-lh;
    @media #{$breakpoint-not-small} {
        line-height: $c-lh-ns;
    }
}


// Font sizes
.c-font-size {
    font-size: $c-font-size;
    @media #{$breakpoint-not-small} {
        font-size: $c-font-size-ns;
    }
}


// Page wrapper width
.c-wrapper {
    max-width: $c-max-width;
}


// Custom colours
.c-purple {
    color: $c-purple;
}
.c-bg-purple {
    background-color: $c-purple;
}
.c-green {
    color: $c-green;
}
.c-bg-green {
    background-color: $c-green;
}


// Grid
.c-w-col1 {
    width: $col1;
}
.c-w-col2 {
    width: $col2;
}
.c-w-col3 {
    width: $col3;
}
.c-w-col4 {
    width: $col4;
}
.c-w-col5 {
    width: $col5;
}
.c-w-col6 {
    width: $col6;
}
.c-w-col1-ns {
    @media #{$breakpoint-not-small} {
        width: $col1;
    }
}
.c-w-col1-m {
    @media #{$breakpoint-medium} {
        width: $col1;
    }
}
.c-w-col1-l {
    @media #{$breakpoint-large} {
        width: $col1;
    }
}
.c-w-col2-ns {
    @media #{$breakpoint-not-small} {
        width: $col2;
    }
}
.c-w-col2-m {
    @media #{$breakpoint-medium} {
        width: $col2;
    }
}
.c-w-col2-l {
    @media #{$breakpoint-large} {
        width: $col2;
    }
}
.c-w-col3-ns {
    @media #{$breakpoint-not-small} {
        width: $col3;
    }
}
.c-w-col3-m {
    @media #{$breakpoint-medium} {
        width: $col3;
    }
}
.c-w-col3-l {
    @media #{$breakpoint-large} {
        width: $col3;
    }
}
.c-w-col4-ns {
    @media #{$breakpoint-not-small} {
        width: $col4;
    }
}
.c-w-col4-m {
    @media #{$breakpoint-medium} {
        width: $col4;
    }
}
.c-w-col4-l {
    @media #{$breakpoint-large} {
        width: $col4;
    }
}
.c-w-col5-ns {
    @media #{$breakpoint-not-small} {
        width: $col5;
    }
}
.c-w-col5-m {
    @media #{$breakpoint-medium} {
        width: $col5;
    }
}
.c-w-col5-l {
    @media #{$breakpoint-large} {
        width: $col5;
    }
}
.c-w-col6-ns {
    @media #{$breakpoint-not-small} {
        width: $col6;
    }
}
.c-w-col6-m {
    @media #{$breakpoint-medium} {
        width: $col6;
    }
}
.c-w-col6-l {
    @media #{$breakpoint-large} {
        width: $col6;
    }
}

// Some empty media queries
// Use these if you want to make responsive custom classes

@media #{$breakpoint-not-small} {
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}


} // End the enclosing screen/projection media query
