// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class in this file

@media screen, projection {

// Sans-serif stack
.c-sans-serif {
    font-family: $c-sans-serif;
}

// line-heights
.c-lh-copy {
    line-height: $c-lh;
    @media #{$breakpoint-not-small} {
        line-height: $c-lh-ns;
    }
}

// Font sizes
.c-font-size {
    font-size: $c-font-size;
    @media #{$breakpoint-not-small} {
        font-size: $c-font-size-ns;
    }
    @media #{$breakpoint-medium} {
        font-size: $c-font-size-m;
    }
    @media #{$breakpoint-large} {
        font-size: $c-font-size-l;
    }
}

// Page wrapper width
.c-wrapper {
    max-width: $c-max-width;
}

// Custom colours
.c-purple {
    color: $c-purple;
}
.c-bg-purple {
    background-color: $c-purple;
}
.c-green {
    color: $c-green;
}
.c-bg-green {
    background-color: $c-green;
}

// Grid
.c-w-col1 {
    width: $col1;
}
.c-w-col2 {
    width: $col2;
}
.c-w-col3 {
    width: $col3;
}
.c-w-col4 {
    width: $col4;
}
.c-w-col5 {
    width: $col5;
}
.c-w-col6 {
    width: $col6;
}
.c-w-col1-ns {
    @media #{$breakpoint-not-small} {
        width: $col1;
    }
}
.c-w-col1-m {
    @media #{$breakpoint-medium} {
        width: $col1;
    }
}
.c-w-col1-l {
    @media #{$breakpoint-large} {
        width: $col1;
    }
}
.c-w-col2-ns {
    @media #{$breakpoint-not-small} {
        width: $col2;
    }
}
.c-w-col2-m {
    @media #{$breakpoint-medium} {
        width: $col2;
    }
}
.c-w-col2-l {
    @media #{$breakpoint-large} {
        width: $col2;
    }
}
.c-w-col3-ns {
    @media #{$breakpoint-not-small} {
        width: $col3;
    }
}
.c-w-col3-m {
    @media #{$breakpoint-medium} {
        width: $col3;
    }
}
.c-w-col3-l {
    @media #{$breakpoint-large} {
        width: $col3;
    }
}
.c-w-col4-ns {
    @media #{$breakpoint-not-small} {
        width: $col4;
    }
}
.c-w-col4-m {
    @media #{$breakpoint-medium} {
        width: $col4;
    }
}
.c-w-col4-l {
    @media #{$breakpoint-large} {
        width: $col4;
    }
}
.c-w-col5-ns {
    @media #{$breakpoint-not-small} {
        width: $col5;
    }
}
.c-w-col5-m {
    @media #{$breakpoint-medium} {
        width: $col5;
    }
}
.c-w-col5-l {
    @media #{$breakpoint-large} {
        width: $col5;
    }
}
.c-w-col6-ns {
    @media #{$breakpoint-not-small} {
        width: $col6;
    }
}
.c-w-col6-m {
    @media #{$breakpoint-medium} {
        width: $col6;
    }
}
.c-w-col6-l {
    @media #{$breakpoint-large} {
        width: $col6;
    }
}

// Some empty media queries
// Use these if you want to make responsive custom classes

@media #{$breakpoint-not-small} {
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}


} // End the enclosing screen/projection media query

// Add Source Sans Pro
// Serve locally

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('/fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
       url('/fonts/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('/fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
