{% include header.html %}

<article class="bg-white bt bb ba-l b--moon-gray">

    <header>

        {% if page.hero %}

        <img class="db" src="/images/{{ page.hero }}" alt="{{ page.alt }}">

        {% endif %}

        <div class="pa2 pa4-ns">

            <div class="c-wrapper center">

                <h1 class="ma0 f3 f2-ns lh-title">{{ page.title }}</h1>

            </div>

        </div>

    </header>

    <div class="ph2 ph4-ns">

        {{ content}}

    </div>

</article>

{% include footer.html %}
