{% include header.html %}

<div class="c-wrapper center">

    <div class="flex-l flex-wrap-l justify-between-l{% if page.reverse-order %} flex-wrap-reverse flex-row-reverse{% endif %}">

        <article class="c-w-col4-l bg-white bt bb ba-l b--moon-gray mb3">

            <header>

                {% if page.hero %}

                <img class="db" src="/images/{{ page.hero }}" alt="{{ page.alt }}">

                {% endif %}

                <div class="ph2 ph4-ns pt2 pt4-ns mb3">

                    {% if page.breadcrumb %}

                    {% include breadcrumb.html %}

                    {% endif %}

                    <h1 class="mb0 f3 f2-ns lh-title">{{ page.title }}</h1>

                    {% if page.is_post %}

                    <p class="gray ma0"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d,  %Y" }}</time></p>

                    {% endif %}

                </div>

            </header>

            <div class="ph2 ph4-ns pb3">

                <div class="measure-wide">

                    {{ content}}

                </div>

            </div>

        </article>

        <aside class="c-w-col2-l bg-white bt bb ba-l b--moon-gray mb3">

            <div class="pa2 pa4-ns">

                <div class="measure-wide">

                    <p class="f6 ma0">Bacon ipsum dolor amet capicola sirloin turkey, pork belly chicken spare ribs ham hock strip steak sausage alcatra tongue t-bone kielbasa swine pork chop. Frankfurter meatloaf tongue doner short ribs turkey. Ham pastrami hamburger frankfurter. Hamburger turducken biltong, sausage rump frankfurter pork belly. Sirloin chicken pastrami pork chop, flank boudin cupim tri-tip. Pork biltong sirloin kielbasa, tri-tip ham capicola shank.</p>

                </div>

            </div>

        </aside>

    </div>

</div>

{% include footer.html %}
